* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
:root {
  --primary-color: #143c3c;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

.btn {
  display: inline-block;
  min-width: 173px;
  --height: 57px;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  border-radius: 40px;
  border: 1.5px solid var(--primary-color);
  background: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.section-desc-lv1 {
  color: #575d5e;
  font-family: "Public Sans", serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.section-desc-lv2 {
  color: #7d8188;
  font-weight: 500;
  line-height: 1.62;
}

.section-intro {
  padding-left: 46px;
  position: relative;
  color: #152427;
  font-weight: 500;
  line-height: 1.62;
}

.section-intro::before {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #152427;
}

.section-heading-lv1 {
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.section-heading-lv2 {
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.section-desc-lv3 {
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* Header */
.header {
  padding-top: 28px;
  font-family: "Public Sans", serif;
  position: sticky;
  top: -16px;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 387px;
}

.navbar__list {
  display: flex;
  margin-right: 69px;
}

.navbar-item__link {
  padding: 4px 19px;
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.navbar-item__link:hover,
.navbar-item__link--active {
  color: #152427;
}

.navbar-item__link--active {
  position: relative;
}

.navbar-item__link--active::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 20px;
  bottom: -29px;
  background: var(--primary-color);
}

.header__border {
  margin-top: 13px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

/* Hero */
.hero {
  font-family: "Public Sans", serif;
  padding-bottom: 207px;
}

.hero__inner {
  display: flex;
  column-gap: 76px;
  padding-top: 28px;
}

.hero-left {
  margin-top: 75px;
  width: 34.47%;
  flex-shrink: 0;
}

.hero-left__heading {
  width: 93.64%;
  margin-bottom: 20px;
  color: #152427;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  flex-shrink: 0;
}

.hero-left__row {
  margin-top: 42px;
  display: flex;
}

.hero-left__row--playvideo {
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.hero-left__play {
  position: relative;
  left: -23px;
  cursor: pointer;
}

.hero-left__watch {
  margin-left: -9px;
  color: #152427;
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  cursor: pointer;
}

.hero-right {
  position: relative;
}

.hero-right__images {
  margin-top: 32px;
  display: flex;
  column-gap: 20px;
}

.hero-right__img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
  z-index: 1;
}

.hero-right__img:nth-child(2) {
  position: relative;
  top: 77px;
}

.hero-right__flower-top {
  position: absolute;
  top: 0;
  left: -170px;
  z-index: 2;
}

.hero-right__avstract-top {
  position: absolute;
  left: -46px;
}

.hero-right__flower-bottom {
  position: absolute;
  bottom: -152px;
  right: 40px;
  z-index: 2;
}

.hero-right__avstract-bottom {
  position: absolute;
  bottom: 20px;
  right: -48px;
}

.hero-blur {
  position: absolute;
  top: 0;
  left: 170px;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  margin: 182px auto;
  filter: blur(137px);
}

/* Logo */
.logo {
  margin-bottom: 106px;
}

.logo__inner {
  padding: 78px 122px;
  border-radius: 100.5px;
  background: #e2eddf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__inner--google,
.logo__inner--wrap,
.logo__inner--riotinto {
  color: var(--primary-color);
}

.logo__inner--google:hover,
.logo__inner--wrap:hover,
.logo__inner--riotinto:hover {
  text-decoration: underline;
}

.logo__inner--google {
  font-size: 3.1rem;
  font-weight: 500;
}

.logo__inner--wrap {
  display: flex;
  align-items: center;
}

.logo__inner--slack {
  margin-left: 5px;
  font-size: 3.2rem;
  font-weight: 600;
}

.logo__inner--agworld {
  margin-left: 11px;
  font-size: 2.6rem;
}

.logo__inner--riotinto {
  font-family: "Sonsie One";
  font-size: 2.3rem;
}

.logo__inner--heroku {
  margin-left: 14px;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
}

/* Service */
.service {
  margin-bottom: 133px;
}

.service__intro {
  margin-bottom: 12px;
}

.service__row {
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__heading {
  max-width: 520px;
  position: relative;
}

.service__heading::after,
.process__heading::after {
  position: absolute;
  bottom: 20px;
  right: 104px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: #152427;
}

.service__control {
  margin-right: 76px;
  display: flex;
  gap: 17px;
  cursor: pointer;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.service-item {
  border-radius: 20px 20px 0 0;
  padding-bottom: 24px;
  overflow: hidden;
  transition: 0.25s;
}

.service-item:hover {
  border-radius: 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__images {
  overflow: hidden;
}

.service__img {
  transition: 0.5s;
}

.service-item:hover .service__body {
  padding: 0 18px;
}

.service-item:hover .service__img {
  transform: scale(1.1);
}

.service__body {
  transition: 0.25s;
}

.service__img {
  max-width: 100%;
  height: 318px;
  object-fit: cover;
}

.service__body--heading {
  margin-top: 24px;
}

.service__body--desc {
  margin-top: 18px;
  max-width: 268px;
}

/* About */
.about__inner {
  display: flex;
  column-gap: 64px;
}

.about-left {
  margin-top: 13px;
  width: 51.84%;
  flex-shrink: 0;
  position: relative;
}

.about-left__images {
  display: flex;
  column-gap: 21px;
}

.about-left__img {
  width: 286px;
  height: 480px;
  object-fit: cover;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-left__img:first-child {
  margin-top: 77px;
}

.about-left__flower-top {
  position: absolute;
  top: 0;
  left: 80px;
}

.about-left__avstract-top {
  position: absolute;
  top: -48px;
  left: -43px;
}

.about-left__content {
  width: 143px;
  position: absolute;
  bottom: 8px;
  right: -9px;
  font-family: "Public Sans";
  padding: 19px 23px 11px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-left__content--heading {
  margin-bottom: 6px;
  color: #152427;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.about-left__content--desc {
  margin-bottom: 10px;
  color: #575d5e;
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.4;
}

.about-left__content--statistics,
.about-left__content--loading,
.about-left__row--teams {
  color: #152427;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 3px;
}

.about-left__content--bar {
  margin-bottom: 3px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about-left__content--bar::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.about-left__content--loading {
  text-align: right;
}

.about-left__row {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.about-left__row--members {
  display: flex;
}

.about-left__row--member {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #fff;
  object-fit: cover;
}

.about-left__row--member:not(:first-child) {
  margin-left: -6px;
}

.about-right__intro {
  margin-bottom: 20px;
}

.about-right__heading {
  margin-bottom: 11px;
}

.about-right__row {
  margin-top: 38px;
  padding-bottom: 20px;
  display: flex;
  column-gap: 24px;
  border-bottom: 1px solid #83a17d;
}

.about-right__statistics--desc {
  width: 364px;
}

/* Process */
.process {
  margin-top: 79px;
}

.process__inner {
  position: relative;
  padding-top: 36px;
}

.process__intro {
  margin-bottom: 20px;
}

.process__heading {
  margin-bottom: 81px;
  max-width: 477px;
  position: relative;
}

.process__heading::after {
  bottom: 18px;
  right: -8px;
}

.process__img {
  width: 450px;
  height: 444px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 92px;
}

.process__row {
  display: flex;
  justify-content: space-between;
  padding: 54px 41px 25px 20px;
  transition: 0.25s;
  border-bottom: 1px solid #83a17d;
}

.process__row:hover {
  border-radius: 33px;
  background: #e2eddf;
  cursor: pointer;
  padding: 57px 0 50px 30px;
  border: none;
}

.process__row--left {
  display: flex;
  align-items: center;
}

.process__row--number {
  color: var(--primary-color);
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72;
  margin-left: 20px;
}

.process__row--title {
  margin-left: 48px;
}

.process__row--heading {
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.process__row--execution {
  margin-left: -160px;
}

.process__row--more {
  display: inline-block;
  margin-top: 22px;
  color: #575d5e;
  font-size: 1.8rem;
  line-height: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.process__row--desc {
  max-width: 572px;
  color: #7d8188;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

/* Features */
.features {
  margin-top: 148px;
  padding: 116px 0 63px;
  background: var(--primary-color);
}

.features__inner {
  position: relative;
}

.features__row {
  display: flex;
  column-gap: 93px;
}

.features__heading {
  max-width: 457px;
  color: #e7f9f9;
}

.features__heading::after {
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: #83a17d;
  position: relative;
  top: -8px;
  left: 4px;
}

.features__desc {
  margin-top: 11px;
  color: #6a8383;
  max-width: 590px;
}

.features__btn {
  margin: 13px 26px 65px 0;
  display: inline-block;
  color: #fff;
}

.features__video {
  position: relative;
}

.features__img {
  width: 1140px;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
}

.features__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.features__flower {
  position: absolute;
  top: 108px;
  right: -56px;
}

.features-vector {
  position: absolute;
  top: -96px;
  right: 0;
}

.avstract-features {
  position: absolute;
  top: 0;
  right: 0;
}

/* Service Features */
.service-features {
  margin: 140px 0 184px;
  text-align: center;
}

.service-features__heading {
  max-width: 520px;
  margin: 0 auto 20px;
}

.service-features__desc {
  max-width: 547px;
  margin: 0 auto 103px;
}

.service-features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
}

.service-features-item {
  border-radius: 160px;
  padding: 79px 27px 74px 37px;
  border: 1.5px solid #cecece;
  transition: 0.25s;
}

.service-features-item:hover {
  border-radius: 160px;
  background: #fff;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
  transform: translateY(-59px);
  border: none;
}

.service-features-item__heading {
  margin: 26px 0 9px;
  color: #152427;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.service-features-item__desc {
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.service-features-item:nth-child(2) .service-features-item__desc,
.service-features-item:nth-child(3) .service-features-item__desc {
  max-width: 264px;
}

/* Blog */
.blog {
  margin-bottom: 102px;
}

.blog__row {
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  column-gap: 160px;
}

.blog__heading {
  max-width: 571px;
}

.blog__heading::after {
  content: "";
  display: inline-block;
  width: 82px;
  height: 3px;
  background: #152427;
  position: relative;
  top: -8px;
  left: 4px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.blog-item:hover .blog-item__body {
  border-radius: 0px 0px 20px 20px;
  background: #fff;
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
  padding: 26px 33px 12px 30px;
}

.blog-item:hover .blog-item__img {
  transform: scale(1.1);
}

.blog-item:hover .blog__btn {
  background: var(--primary-color);
  color: #e2eddf;
}

.blog-item:hover .blog-item__heading {
  max-width: 281px;
  margin-bottom: 9px;
}

.blog-item__images {
  overflow: hidden;
  border-radius: 40px 40px 0px 0px;
}

.blog-item__img {
  width: 100%;
  height: 317px;
  object-fit: cover;
  transition: 0.25s;
}

.blog-item__body {
  height: 243px;
  padding: 20px 22px 12px 0;
  transition: 0.25s;
}

.blog__btn {
  width: 107px;
  margin-bottom: 13px;
  padding: 7px 33px;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 20px;
  background: #e2eddf;
  border: 1px solid #e2eddf;
  cursor: pointer;
}

.blog-item__heading {
  max-width: 346px;
  margin-bottom: 38px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.blog-item__date {
  padding-top: 16px;
  text-align: right;
  color: #575d5e;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  border-top: 1px solid #c4c4c4;
}

/* Footer */
.footer {
  background: var(--primary-color);
  padding-bottom: 50px;
}

.footer__inner {
  padding-top: 72px;
  display: flex;
  align-items: center;
  column-gap: 261px;
}

.footer-left {
  width: 36.05%;
}

.footer__heading {
  margin-bottom: 25px;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

.footer__info {
  width: 86.13%;
  padding-bottom: 32px;
  margin-bottom: 47px;
  border-bottom: 1px solid #6a8383;
}

.footer__info--input {
  margin-right: 104px;
  border: none;
  background-color: transparent;
}

.footer__info--input::placeholder {
  color: #6a8383;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.footer-arrow {
  cursor: pointer;
  position: relative;
  bottom: -12px;
}

.footer__social {
  display: flex;
  column-gap: 22px;
}

.footer-right {
  display: flex;
  column-gap: 50px;
}

.footer-item__heading {
  margin-bottom: 6px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.footer-item {
  margin-bottom: 2px;
}

.footer-item__link {
  color: #6a8383;
  font-family: "Public Sans";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.25;
}

.footer-item__link:hover {
  text-decoration: underline;
}

.footer-border {
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
}
